.clickaway-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10039;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 150ms ease-out forwards;
}
.CardPopUp {
  position: absolute;
  z-index: 10040;
  background-color: transparent;
  padding-top: 0px !important;
  border: 1px thin rgb(255, 255, 70);
}
.buttonEdit {
  border: none;
  outline: none;
  text-align: left;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 6px 12px !important;
  border-radius: 5px;
  font-size: 14px;
  transition: all 50ms ease-out;
}

.buttonEdit:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8) !important;
  transform: translate(8px, 0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}